<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blog <%= locals.blog_index %> </h1>

    <p> <%= blogs[locals.blog_index] %> </p>

    <form action="/view_blogs" method="get">
        <button>View all blogs</button>
    </form>
    <form action="/" method="get">
        <button type="button" class="btn btn-secondary" >Home page</button>
    </form>
    
    <form action="/blog/<%= locals.blog_index %>/edit " method="GET">
        <button>Edit Page</button>
    </form>
</body>
</html>
