<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h1>Edit Page</h1>

    <form action="/blog/<%= locals.blog_index %>?_method=PUT" method="POST">
        <textarea name="updatedContent"><%= locals.content %></textarea>
        <button type="submit">Update Post</button>
    </form>

</body>
</html>