<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h1>Edit Page</h1>

    <form action="/blog/<%= locals.blogs %>" method="PATCH">
        <input type="text" name="edited_text" value="<%= locals.blogs[locals.blog_index] %> ">
        <button>Submit</button>
    </form>
</body>
</html>