<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %> 

    <div class="blog-stuff">
    <h1>Hello</h1>
    <form action="/view_blogs" method="GET">
         <button class="btn btn-primary">view_blogs</button>
    </form>    

    <form action="/create/new" method="POST">
        <input type="text" name="blog_input" placeholder="Enter blog">
        <button class="btn btn-success">Submit</button>
    </form>
    </div>
</body>
</html>
