<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>View page</h1>

    <div>
        <p> <% locals.blogs_content.forEach((element,index) => { %>
            
            <h1> blog <%= index %></h1>
            <p><%= element %> </p>

            <form action="/blog/index" method="get">
                <button>View this blog</button>
            </form>
       <% }); %> </p>
    </div>

    <form action="/" method="get">
        <button>Home Page</button>
    </form>
</body>
</html>