
.navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-stuff {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding-top: 50px;
}


.body {
  padding-top: 50px;
}
